.options-container {
  position: relative;
  user-select: none;
}

.text-container {
  width: 100%;
  padding: 6px 14px;
  padding-right: 40px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.6;
  background-color: #f3f3f3;
  border-radius: 8px;
  border: 1px solid #ccc;
  color: #1e1e1e;
  overflow-y: auto;
  outline: none;
  resize: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  margin: 6px 0px;
  margin-bottom: 14px;
}

.own {
  background-color: #d0f0d0;
}

.changed {
  background-color: #f7f7c1 !important;
}

.label {
  font-size: 16px;
  font-weight: 700;
}

.btnTextAreaOpen {
  position: absolute;
  right: 0;
  margin: 8px 10px;
  cursor: pointer;
}

.button {
  border: 1.5px solid #5b1e87;
  border-radius: 8px;
  padding: 10px 16px;
  font-size: 16px;
  cursor: pointer;
  transition: all .3s ease;
  color: #fff;
  background-color: #6a1b9a;
  user-select: none;
  display: inline-block;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.button:hover {
  background-color: #7e2ba9;
  border-color: #7e2ba9;
}

.button.cancel {
  background-color: #f9f9f9;
  color: black;
  border: 1.5px solid #f9f9f9;
}

.button.cancel:hover {
  background-color: #e6e6e6;
  border-color: #d4d4d4;
}

.katex {
  font: normal 1.21em KaTeX_Main, Times New Roman, serif;
  line-height: 1.2;
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
}

.katex-display {
  margin: 1em 0;
  text-align: center;
  overflow-x: auto;
  overflow-y: hidden;
}

.katex-display > .katex {
  white-space: normal;
  display: inline-block;
  text-align: left;
}