:root {
  --header-height: 64px;
}

.header {
  background-color: #333333;
  color: white;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  z-index: 1001;
  width: 100%;
  height: var(--header-height);
}

.misterUniLogo {
  font-size: 22px;
}

.menu-icons {
  display: flex;
  gap: 6px;
  width: 100%;
}

.menu-icon {
  padding: 5px 6px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.menu-icon:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.menu-icon.active {
  background-color: #7e2ba9;
}