.login-form-container {
  width: 100%;
  padding: 16px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.login-options-container {
  position: relative;
}

.login-text-container {
  width: 100%;
  padding: 8px 14px;
  padding-right: 40px;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 1.6;
  background-color: #f3f3f3;
  border-radius: 8px;
  border: 1px solid #ccc;
  color: #1e1e1e;
  overflow-wrap: break-word;
  outline: none;
  resize: none;
}

.login-input-container {
  width: 100%;
  padding: 8px 14px;
  font-size: 16px;
  box-sizing: border-box;
  background-color: #f3f3f3;
  border-radius: 8px;
  line-height: 1.6;
  border: 1px solid #ccc;
  color: #1e1e1e;
  overflow-wrap: break-word;
  outline: none;
  resize: none;
}

.login-label {
  font-size: 18px;
  font-weight: 700;
}

.login-btnTextAreaOpen {
  position: absolute;
  right: 0;
  margin: 8px 10px;
  cursor: pointer;
}

.login-button {
  border: 1.5px solid #5b1e87;
  border-radius: 8px;
  padding: 10px 16px;
  font-size: 18px;
  cursor: pointer;
  transition: all .3s ease;
  color: #fff;
  background-color: #6a1b9a;
  display: inline-block;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
}

.login-button:hover {
  background-color: #7e2ba9;
  border-color: #7e2ba9;
}

.login-button.cancel {
  background-color: #f9f9f9;
  color: black;
  border: 1.5px solid #f9f9f9;
}

.login-button.cancel:hover {
  background-color: #e6e6e6;
  border-color: #d4d4d4;
}

.login-btnOption {
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
  background-color: #7e2ba9;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.login-btnOption.darkgreen {
  background-color: darkgreen;
}

.login-btnOption.disabled {
  background-color: #753eaa;
}

.login-btnSubmit {
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
  background-color: #7e2ba9;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 200px;
}